99590306_homework/App_WebReferences/MailServiceReference/MailWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="tns:Mail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Mail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="receiverName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiverAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="senderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="senderAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="sendMailResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendMailSoapIn">
    <wsdl:part name="parameters" element="tns:sendMail" />
  </wsdl:message>
  <wsdl:message name="sendMailSoapOut">
    <wsdl:part name="parameters" element="tns:sendMailResponse" />
  </wsdl:message>
  <wsdl:portType name="MailWebServiceSoap">
    <wsdl:operation name="sendMail">
      <wsdl:input message="tns:sendMailSoapIn" />
      <wsdl:output message="tns:sendMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailWebServiceSoap" type="tns:MailWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMail">
      <soap:operation soapAction="http://tempuri.org/sendMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailWebServiceSoap12" type="tns:MailWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMail">
      <soap12:operation soapAction="http://tempuri.org/sendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailWebService">
    <wsdl:port name="MailWebServiceSoap" binding="tns:MailWebServiceSoap">
      <soap:address location="http://localhost:1891/99590306_homework/WebService/MailWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MailWebServiceSoap12" binding="tns:MailWebServiceSoap12">
      <soap12:address location="http://localhost:1891/99590306_homework/WebService/MailWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>